:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper{
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(157, 2, 161, 1) 5%, rgba(241, 225, 60, 1) 90%);
  background-size: cover;
}

.grid-container {
  display: grid;
  max-width: 2000px;
  height: 504px;
  overflow: auto;
  grid-template-columns: repeat(16,1fr);
  align-items: center;
  grid-gap: 0px;
  border: 2px solid black;
  position: absolute;
  top: 15%;
  left: 10%
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100px;
  height: 100px;
  font-size: 3rem;
  border: 2px solid #000000;
  outline-color: #00A8EF;
  cursor: pointer;
  transition-duration: 0.3s;
}
.button:hover, .button.red {background-color: #FF0000;}

.buttonletter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  color: white;
  text-shadow: 2px 3px black;
  width: 100px;
  height: 100px;
  font-size: 3rem;
  border: 2px solid #000000;
  outline-color: #00A8EF;
  cursor: pointer;
}

h1 {
  color: white;
  text-shadow: 4px 3px #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  letter-spacing: 4px;
  font-weight: 100;
  position: absolute;
  top: 80%;
  left: 250px;
  align-items: center;
  align-content: center;
}
